
/* Стихотворение */
.title-author {
     text-align: center;
     color: red;
     text-decoration: underline;
}

.verse-1 {
     font-size: 9px;
     color: blue;
     font-style: italic;
     text-align: center;
}

.verse-2 {
     font-size: 14px;
     color: red;
     font-style: bolder;
     text-align: left;
}

.verse-3 {
     font-size: 17px;
     color: indigo;
     font-style: bold;
     text-align: right;
}

/* Расписание (таблица)  */

table {
     background-color: black;
     color: white;
}

table .time {
     color: red;
}

table .day {
     color: rgb(51, 51, 255);
}